settings{
    #header{
        text-align: center
    }
    .buttons {
        text-align: center;
    }
    #signin{
        background-color: rgb(28,41,80);
        width: 10em;
    }
    #items{
        height: 4em;
        text-align: center;
    }
}