page-list-add-modify {
    #list{
        margin-top: 3em;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
    #head{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
   

}
