page-grouplist-add-modify {

    #head{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }

    #people{
        margin-top: 3em;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }

    #list{
        margin-top: 3em;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }

}
